@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  user-select: none;
}

#tic-tac-toe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#head{
  padding: 10px;
  font-size: 24px;
}

#board{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 30px auto;
}

.square{
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  cursor: pointer;
}

.square:hover{
  background: #ccc;
}

.square:nth-child(3n){
  border-right: 0;
}

.square:nth-child(3n + 1){
  border-left: 0;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3){
  border-top: 0;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
  border-bottom: 0;
}


.footer{
  margin: 20px auto;
}

.reset-btn{
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  background-color: #007bff;
  border: 0;
  cursor: pointer;
}

.start-game-btn{
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  background-color: #007bff;
  border: 0;
  cursor: pointer;
}

.reset-btn:disabled{
  background: #eee;
  color: #ccc;
  cursor:not-allowed
}

.ml-2{
  margin-left: 1.5rem;
}

.m-1{
  margin: auto 1rem;
}

.mt-2{
  margin-top: 1.5rem;
}

#select-player{
  text-align: center;
}